<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" th:href="@{/}">ROLLER SPEED</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Corporativo</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/corporativo/mision}">Misión</a></li>
                        <li><a class="dropdown-item" th:href="@{/corporativo/vision}">Visión</a></li>
                        <li><a class="dropdown-item" th:href="@{/corporativo/valores}">Valores</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" th:href="@{/servicios}">Servicios</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/eventos}">Eventos</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Registro</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/registro/estudiante}">Inscripción Estudiantes</a></li>
                        <li><a class="dropdown-item" th:href="@{/registro/instructor}">Inscripción Instructor</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clases</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/clases/estudiantes}">Listar Estudiantes</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Calendario</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/horario/estudiantes}">Horario Estudiantes</a></li>
                        <li><a class="dropdown-item" th:href="@{/horario/instructor}">Horario Instructor</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>